.font{
    font-family: "Zain", sans-serif;
    font-size: 20px;
}
.color-body{
    height: 100vh;
    background-color: #f8f8f8;
}
.rectangle{
    height: 500px;
    border-radius: 15px;
    background-color: #ffffff;
    box-shadow: 1px 4px 4px 1px rgb(85, 85, 85, 0.25);
}
.btn-style{
    width: 200px;
    border-radius: 8px;
    color: white;
    background-color: #224f61;
    border: none;
    transition: .5s;
    -webkit-transition: .5s;
    -moz-transition: .5s;
    -ms-transition: .5s;
    -o-transition: .5s;
}
.btn-style:hover{
    background-color: #1c404f;
}
.img-avatar{
    height: 60px;
    width: 60px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}